.mainContainer {
  display: flex;
  flex-direction: column;
  height: 200vh;
}

.row {
  display: flex;
  flex: 1;
}

.box {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  font-weight: 450;
}

.boxText {
  margin: 1em;
  padding: 0;
}

.white {
  background-color: #ffffff;
}

.gray {
  background-color: #f2f2f2;
}
